<%= form_for @lead, :html => { :class => "leads-form",:style =>"margin-top:30px;"  } do |f| %>

  <% if @lead.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @lead.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label 'Nome Completo' %>
      <%= f.text_field :name, :class => 'form-control' %>
      <%=f.error_span(:name) %>
  </div>
  
    <div class="form-group">
      <%= f.label 'Email' %>
      <%= f.text_field :email, :class => 'form-control' %>
      <%=f.error_span(:email) %>
  </div>
  
  <div class="form-group">
      <%= f.label 'Profissão' %>
      <%= f.text_field :stack, :class => 'form-control' %>
      <%=f.error_span(:stack) %>
  </div>

  <%= f.submit 'Registrar-se!', :class => 'btn btn-success btn-lg pull-right',:style => "font-weight:bold;" %>
   
  </div>

<% end %>
