<div class="container">
  <h1></h1>
  <div class="col-md-12 text-center">

    <div class="row col-md-12 text-center"> 
      <h4>Prepare-se para mudar a forma como conhece o setor de vendas! Reinvente-se, abra sua mente, consuma conteúdo de qualidade gratuito com possibilidades de ultrapassar barreiras. Deixar de apenas vender, mas entregar soluções de problemas para seus clientes.</h4>
      <p></p>
    </div> 

    <div class="row col-md-8 col-md-offset-1">
      <%- model_class = Lead -%>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
