  <% flash.each do |key, value| %>
    <div class="row col-md-12">
      
      <div class="alert alert-success alert-dismissible text-center top-buffer hidden-xs" role="alert">
        <strong>
          <%= link_to value, download_pdf_path, target:"_blank" %>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="alert alert-success alert-dismissible text-center visible-xs" role="alert">
        <strong>
          <%= link_to value, download_pdf_path, target:"_blank" %>
        </strong>
        
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  <% end %>

<div class="row orange-section hidden-xs">
  <div class="col-md-6 col-md-offset-6" style="margin-bottom:30px;">
    <h3 style="color:white;">Faça seu cadastro e receba nosso e-book exclusivo! <strong>É grátis!</strong></h3> 
    <%- model_class = Lead -%>  
    <%= render :partial => '/leads/form' %>
  </div>
</div>

<div class="row">
  <div class="container post-list-home">
    <div class="col-md-12">
      <% @posts.order('created_at DESC').each do |post| %>
        <div class="row">
          <div class="col-md-12">
            <h2><%=link_to post.title, post, class:'post-title'%></h2>
            
          </div>
          
          <div class="col-md-12">
            <h5 class="text-muted"><%= post.created_at %></h5>
          </div>
          
          <div class="col-md-12" style="font-size:18px;">
            <%=link_to markdown(post.slug.truncate(220)), post, class:'post-text'%>
          </div>
        </div>
      <% end %>
      
      
      
    </div>
    
  </div>
</div>

<div class="row" id="contato" style="margin-bottom:50px">
  <div class="container text-center">
    <h1><strong>Contato</strong></h1>
    
    <h3 class="hidden-xs">Prepare-se para mudar a forma como você conhece o setor de vendas! 
    Reinvente-se, abra sua mente, tenha conteúdo de qualidade gratuito com possibilidade de ultrapassar barreiras. 
    Deixar de apenas vender, mas entregar soluções de problemas para seus clientes.</h3> 
    
    <h4 class="visible-xs">Prepare-se para mudar a forma como você conhece o setor de vendas! 
    Reinvente-se, abra sua mente, tenha conteúdo de qualidade gratuito com possibilidade de ultrapassar barreiras. 
    Deixar de apenas vender, mas entregar soluções de problemas para seus clientes.</h4> 
    
    <h3 class="hidden-xs">
      <strong><%= mail_to 'contato@alemdasvendas.com' %></strong>
    </h3>
    
    <h4 class="visible-xs">
      <strong><%= mail_to 'contato@alemdasvendas.com' %></strong>
    </h4>
  </div>
  
</div>

<div class="container">
  <div class="row blue-section hidden-xs">
    <div class="col-md-6 col-md-offset-6" style="margin-bottom:30px;">
        <h3 style="color:white;">Faça seu cadastro e receba nosso e-book exclusivo! <strong>É grátis!</strong></h3> 
        <%- model_class = Lead -%>  
        <%= render :partial => '/leads/form' %>
    </div>
  </div>
</div>

<div class="row blue-section-xs visible-xs" id="blue-form">
  <div class="col-xs-12" style="margin-bottom:30px;">
    <h3 style="color:white;">Faça seu cadastro e receba nosso e-book exclusivo! <strong>É grátis!</strong></h3> 
    <%- model_class = Lead -%>  
    <%= render :partial => '/leads/form' %>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
       <%= image_tag("pop_up.png", height: '340') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left btn-lg" data-dismiss="modal" aria-hidden="true">
            <span class="text-muted">Lembrar Depois</span>
        </button>
        
          <%= link_to 'Sim, Eu Quero!', "#contato", class:'btn btn-success btn-lg', style:'color:white;font-weight:bold' %>
      </div>
    </div>
  </div>
</div>
