<%- model_class = Post -%>
<div class="container row page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="container row col-md-12">
<% @posts.each do |post| %>
  <div class="row col-md-12">
    <div class="post-list">
      <h3 class"post-title"><%= post.title %></h3>
      <small>em <%= post.created_at.to_s(:post) %> por AlémDasVendas</small>
      <p><%= markdown(post.body) %></p>
    </div>
    <%= link_to "Leia mais", post_path(post) %>
  </div>
<% end %>
</div>
