<style>
.top-buffer { 
  margin-top:60px; 
}
</style>

<%- model_class = Post -%>

<div class="row top-buffer">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="post-title"><%= @post.title %></h1>  
        <small>em <%= @post.created_at.to_s(:post) %> por AlémDasVendas</small>
        <p><%= markdown(@post.body) %></p>        
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-8 col-md-offset-2">
       <%= link_to 'Voltar', root_path, class:'btn btn-success btn-lg pull-right', style:'color:white;' %>   
    </div>
</div>









     






