/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require gollum_editor/gollum
 *= require_tree .
*/

a.post-title{
  color: #16161d;
  font-family: "Uni Sans", Verdana;
  font-weight: bold;
}

a.post-title:hover {
    color: black;
    text-decoration:none;
}

a.post-text{
  color: #16161d;
  font-family: "Uni Sans", Verdana;
  /*font-weight: bold;*/
}

a.post-text:hover {
    color: black;
    text-decoration:none;
}


.post-box-lg {
	height: 440px;
  overflow: hidden;
}

.post-box-md {
  height: 220px;
  overflow: hidden;
}

.post-list {
  height: 330px;
  overflow: hidden;
}

.top-buffer { 
  margin-top:50px; 
}


.mini-top-buffer { 
  margin-top:25px; 
}


.main-banner {
    padding:0;
    max-width: 100%;
}



.no-padding{
  padding-left:0;
  padding-right:0;
}


.leads-form label{
  color:white;
}


.orange-section {
    background-position: center !important;
    background-image: url(/assets/orange-section.jpg);
    background-image: image-url(/assets/orange-section.jpg); /* HEROKU */
    background-size: 100%;
}

.orange-section-xs {
    background-color: #ea651e;
}

.blue-section {
    background-position: center !important;
    background-image: url(/assets/blue-section.jpg);
    background-image: image-url(/assets/blue-section.jpg); /* HEROKU */
    background-size: 100%;
}

.blue-section-xs {
    background-color: #173D72;
}


.post-list-home {
  background-color:#ccc;
}













