<!DOCTYPE html>
<html>

<head>
    <title>AlémDasVendas</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" intitial-scale="1" maximum-scale="1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if Rails.env.production? %>
      <script type="text/javascript">
        // GOOGLE ANALYTICS
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-103057361-1', 'auto');
      </script>
    <% end %>
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top visible-xs">
            <div class="container-fluid">
                <div class="navbar-header text-center">
                    <%= link_to image_tag("logo.png", height: '45'), root_path, class:"brand" %>
                </div>
            </div>
        </nav>
        
        <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
            <div class="container">
                
                <div class="navbar-header">
                    <%= link_to image_tag("logo.png", height: '45'), root_path, class:"brand" %>
                </div>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#contato" class="text-muted">Contato</a></li>
                </ul>
                
            </div>
        </nav>
        
        <div class="row">
            <%= link_to image_tag("main_banner.jpg",class:"img-responsive"), "#blue-form"  %>
        </div>
        
        <div class="row visible-xs" style="margin:10px 0 10px 0;">
          <div class="col-xs-12 text-center">
              <%= link_to root_path+"#blue-form", class:"btn btn-success btn-lg", style:"font-weight:bold;" do %>
                <span class="glyphicons glyphicons-hand-right"></span>Aumente Suas Vendas!
              <% end %>
          </div>
        </div>
        
        <%= yield %>
        
        <div class="container hidden-xs" style="background-color:grey" >
          <div class="container text-center" style="margin:15px 0 15px 0;">
            <%= link_to image_tag("facebook.png", height:"60"), 
              'https://web.facebook.com/alemdasvendas/', target:"_blank" %>
            <%= link_to image_tag("instagram.png", height:"60"), 
              'https://www.instagram.com/alemdasvendas/', target:"_blank" %>
            <%= link_to image_tag("google_plus.png", height:"60"), 
              'https://plus.google.com/113312984020872492243?hl=pt_BR', target:"_blank"%>
            <%= link_to image_tag("twitter.png", height:"60"), 
              'https://twitter.com/Alemdas_Vendas', target:"_blank" %>
          </div>
        </div>
        
        <div class="row visible-xs" style="background-color:grey" >
          <div class="col-md-12 text-center" style="margin:15px 0 15px 0;">
            <%= link_to image_tag("facebook.png", height:"60"), 
              'https://web.facebook.com/alemdasvendas/', target:"_blank" %>
            <%= link_to image_tag("instagram.png", height:"60"), 
              'https://www.instagram.com/alemdasvendas/', target:"_blank" %>
            <%= link_to image_tag("google_plus.png", height:"60"), 
              'https://plus.google.com/113312984020872492243?hl=pt_BR', target:"_blank"%>
            <%= link_to image_tag("twitter.png", height:"60"), 
              'https://twitter.com/Alemdas_Vendas', target:"_blank" %>
          </div>
        </div>
        
        
    </div>


</body>

</html>





